body {
  max-width: fit-content;
  max-height: fit-content;
}

.initializing-text {
  position: absolute;
  top: 40vh;
  left: 20vw;
  border: 2px solid;
  border-radius: 10px;
  border-color: grey;
  width: 60vw;
  height: 8vh;
  font-size: large;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  color: ghostwhite;
  display: none;
}

.area-display {
  position: absolute;
  top: 12vh;
  left: 27vw;
  border: 2px solid;
  border-color: grey;
  border-radius: 10px;
  max-width: fit-content;
  background-color: aliceblue;
}

.hit-point-text {
  position: absolute;
  top: 2vh;
  left: 18vw;
  border: 2px solid;
  border-color: grey;
  border-radius: 10px;
  max-width: fit-content;
  background-color: aliceblue;
}

.card-title {
  text-align: center;
  font-size: medium;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: firebrick;
}

.card-text {
  text-align: center;
  color: rgb(209, 63, 63);
  font-weight: 700;
  margin-top: 2%;
}

#startAR {
  position: absolute;
  bottom: 3vh;
  left: 15vw;
}

#markPoint {
  position: absolute;
  bottom: 3vh;
  left: 40vw;
}

#area {
  position: absolute;
  bottom: 3vh;
  left: 70vw;
}
